/* Main rules */
:root {
  --primary-color: #58ca6f;
  --secondary-color: #0d2913;
  --accent-color: #c6ff00;
  /* --mainBackground-color: #aad0b2;  */
  /* --primary-color: #0f172a; 
  --secondary-color: #1e293b; 
  --accent-color: #00f7ff;  */
  --mainBackground-color: #111827; /* رمادي كوني شبه أسود */
  --direction: ltr;
}

* {
  direction: var(--direction);
  box-sizing: border-box;
}
body {
  background-color: var(--mainBackground-color);
  color: var(--secondary-color);
  /* font-family: "Poppins"; */
  font-family: "Inter", system-ui;
}

.container {
  height: calc(100vh - 2rem);
}

svg {
  width: 24px;
}

.navbar,
aside,
.app__body section,
.app__footer > div {
  background-color: var(--primary-color) !important;
  border-radius: 2rem;
}

/* Navbar select language*/
.form-select {
  --bs-form-select-bg-img: none;
  width: 72px !important;
}
.form-select:focus {
  outline: none;
  box-shadow: none;
}

/* Application body */

/* Application body aside */
aside {
  transition: 0.3s;
}
.channel__icon,
.user__icon,
.settings__icon {
  background-color: var(--accent-color);
  display: inline;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
}

.tab.active {
  background-color: var(--secondary-color) !important;
  color: var(--accent-color);
}

.channel__title,
.user__title,
.settings__title {
  font-size: 14px;
  font-weight: 600;
}

.hide {
  display: none !important;
}

.tab.active span.title {
  display: block;
}

.data__suwar {
  width: 100px !important;
}
/* Application footer */

.reader {
  width: 69px;
  height: 69px;
}

.select2-container--default .select2-selection--single {
  font-size: 14px;
}

/* السهم */
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 30px !important;
}

/* Loader of Suwar Pages */
.pages__loader {
  min-height: 21vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
}

.pages__loader span {
  background: white;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  animation: snake 0.5s infinite ease-in-out;
}

.pages__loader span:nth-of-type(2) {
  animation-delay: 0.2s;
}
.pages__loader span:nth-of-type(3) {
  animation-delay: 0.3s;
}

@keyframes snake {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }
}
